* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

/* font-family: 'Roboto', sans-serif; */

body {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
}

.benefit-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
}

.benefit-title > span {
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  margin-left: 2px;
}

.benefit-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.main-container {
  margin-top: 168px;
}

.main-title {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 95px;
  line-height: 98px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.main-description {
  width: 720px;
  margin-bottom: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 165px;
}

.phone {
  display: block;
  padding-left: 25px;
  width: 445px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #D8D2CD;
  border: 1px solid #DAD5CF;
  border-radius: 8px;
  background-color: white;
}

.phone::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #D8D2CD;
}

.phone:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.next,
.win-button-ok {
  display: block;
  margin-left: 20px;
  width: 238px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #FDC73E;
  cursor: pointer;
}

.next:hover,
.next:active {
  background-color: #ffbc11;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.footer-container > a {
  font-weight: 600;
  font-size: 34px;
  line-height: 46px;
  text-align: right;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.socials > a {
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.instagram {
  background: url(./img/instagram.svg) center center no-repeat;
  border: 1px solid black;
  border-radius: 50%;
}

.viber {
  background: url(./img/viber.svg) center center no-repeat;
  border: 1px solid black;
  border-radius: 50%;
}

.telegram {
  background: url(./img/telegram.svg) center center no-repeat;
  border: 1px solid black;
  border-radius: 50%;
}

.win-ok {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-content {
  position: relative;
  padding: 55px 0;
  width: 676px;
  height: 254px;
  background-color: white;
  border-radius: 16px;
}

.win-text {
  margin-bottom: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
}

.win-button-ok {
  margin: 0 auto;
}

.hide {
  display: none;
}

.win-button-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url(./img/button-close.svg) center center no-repeat;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main-title {
    text-align: center;
  }
  .main-description {
    width: auto;
    text-align: center;
  }
  .header-container {
    flex-direction: column;
    row-gap: 40px;
  }
  .main-container {
    margin-top: 100px;
  }
  .form {
    flex-direction: column;
    row-gap: 25px;
  }
  .next {
    margin-left: 0;
    width: 445px;
  }
  .win-content {
    width: 410px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .win-text {
    width: 300px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .benefits {
    width: 95%;
  }
  .benefit-title {
    font-size: 30px;
    line-height: 40px;
  }
  .benefit-description {
    font-size: 15px;
    line-height: 20px;
  }
  .main-title {
    font-size: 60px;
    line-height: 65px;
  }
  .main-description {
    font-size: 25px;
    line-height: 30px;
  }
  .phone {
    width: 300px;
  }
  .next {
    width: 300px;
  }
  .form {
    row-gap: 10px;
    margin-bottom: 100px;
  }
  .footer-container {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-container > a {
    font-size: 30px;
  }
  .win-content {
    padding: 45px 0;
    width: 300px;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .win-text {
    margin-bottom: 20px;
    width: 250px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}
